<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LOCAL_DevQAProdCom" value="%USERPROFILE%\.nuget\packages\LOCAL\devqaprodcom" />
    <add key="AzureArtifacts" value="https://pkgs.dev.azure.com/DevQAProdCom/DevQAProdCom.NET-Private/_packaging/DevQAProdCom_NET/nuget/v3/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <AzureArtifacts>
      <add key="Username" value="AzureDevOps" />
      <add key="ClearTextPassword" value="%AZURE_FEED_PAT%"/>
    </AzureArtifacts>
  </packageSourceCredentials>
  <packageSourceMapping>
      <packageSource key="LOCAL_DevQAProdCom">
      <package pattern="DevQAProdCom.*" />
    </packageSource>
    <packageSource key="AzureArtifacts">
      <package pattern="DevQAProdCom.*" />
    </packageSource>
    <packageSource key="nugetOrg">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>